.form-wrapper {
    box-sizing: border-box;
    padding: 1rem;
    min-width: 16rem;
    min-height: 12rem;
    h1 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    form {
        .input-wrapper {
            input {
                width: 95%;
                outline: none;
                border: 1px solid rgba(0, 0, 0, 0.3);
                padding: 0.5rem;
                border-radius: 0.25rem;
                margin: 0.5rem 0rem 1rem 0rem;
            }
        }

        .btn-wrapper {
            display: flex;
            justify-content: center;
            align-items: center ;
            margin-top: 0.1rem;
            button {
                background-color: rgba(22, 101, 52, 1);
                color: white;
                padding: 0.5rem 1rem;
                border-radius: 0.25rem;
                outline: none;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}